@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body { height: 100%; }
body { @apply bg-brand-50 text-brand-900 antialiased; }
.container { @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8; }
.link { @apply text-brand-500 hover:underline; }
